
.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
  }
  
  .error {
    max-width: 400px;
    padding: 30px;
    border-radius: 12px; /* Slightly more rounded corners */
    background-color: transparent; /* Semi-transparent white background */
    border: 1px solid rgba(255, 255, 255, 0.53); /* Light border with transparency */
    backdrop-filter: blur(1.5px); /* Apply stronger blur effect */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Adds depth with shadow */
  }
  
  .error svg {
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #f7fafc; /* Light font color */
    margin-bottom: 15px;
  }
  
  .description {
    font-size: 18px;
    color: #e2e8f0; /* Light gray color */
    margin-bottom: 20px;
  }
  
  .error-link {
    color: #63b3ed; /* Light blue color */
    font-weight: bold;
    text-decoration: none;
  }
  
  .error-link:hover {
    color: #3182ce; /* Darker blue on hover */
  }
  
  .logo a {
    color: #a0aec0; /* Light gray color for logo */
    font-size: 16px;
  }
  
  .logo a:hover {
    color: #e2e8f0; /* Lighter color on hover */
  }
  